body {
    background: #141414;
    font-family: Arial;
    color: whitesmoke; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
    width: 645px;
    height: 297px;
    margin-left: 171px;
    margin-right: 820px;
    margin-top: 201px;
    background-color: #141414;
    padding-top: 10px;
    padding-left: 5px;
}

input {
    height: inherit;
    width: 160px;
    float: right;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    margin: 0px;
    outline: none;
}

    input::after {
        height: 25px;
        width: 80px;
        background-color: aliceblue;
    }

select {
    border-style: none;
    border-color: inherit;
    border-width: medium;
width: 160px;
    float: right;
    background-color: #232323;
    color: whitesmoke;
    text-align: center;
    outline: none;
}

input, button, select {    height: 21px;
    margin-left: 0px;
}

    input[type=text]:focus {
        border-bottom-style: ridge;
        border-bottom-color: red;
        outline: none;
    }

    input[type=email]:focus {
        border-bottom-style: ridge;
        border-bottom-color: red;
    }

    input[type=password]:focus {
        border-bottom-style: ridge;
        border-bottom-color: red;
    }

    input[type=radio] {
        width: initial;
        height: initial;
        display: flex;
    }

button {
    margin-top: 10px;
    width: 30%;
    position: relative;
    margin-left: 230px;
    background-color: #5a5a5a;
    color: ghostwhite;
    height: 30px;
    border: none;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-radius: 360px;
    background-color: darkgoldenrod;
    outline-color: ghostwhite;
    height: 5px;
    width: 5px;
}


    .tooltip .ptext {
        visibility: hidden;
        width: 130px;
        background-color: #555;
        color: #232323;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
    }

        .tooltip .ptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }


    .tooltip:hover .ptext {
        visibility: visible;
        opacity: 1;
    }

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

fieldset {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    margin-left: 12px;
    width: 266px;
    margin-top: 3px;
    display: inline-block;
    text-align: center;
    background-color: #232323
}

#pass {
    width: 63%;
    float: right;
}

#box {
    margin-left: 30%;
    width: 25%;
}

#radio {
    margin-left: 10%;
    width: 139px;
    height: 38px;
}
